h2{

  text-align: center;
  color: white;
  background-color: black;
  font-family: Neto Serif;
  padding: 25px 50px;
  font-size: 200%;
  border-bottom: 2px solid black
  text-decoration: underline
  border-radius: 5px;
  margin: 20px auto;
  display: block;
  box-shadow: 0 0 30px rgba(0, 0, 255, 15);}

a {
    display: block;
    color: white;
    background: black;
    padding: 12px 10px;
    font-weight: bold;
    text-align: center;
    
}

img {

    width: 70%;
    max-width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
    margin: 35px auto;
    display: block;
    box-shadow: 0 0 30px rgba(0, 0, 255, 15);

}
body{
    background-color: black
   
}
p{
    color: white
}
p{
    text-align: center;
}
